.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  max-width: 1818px;
  margin-top: 50px;

}

.CtaStudiesWarpper {
  width: 100%;
  max-width: 938px;
  display: flex;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  border: 1px solid #E4E6EF;
  border-radius: 50px;
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
}

.imageWrapper {
  position: relative;
  border: 1px solid #E4E6EF;
  border-radius: 32px;
  overflow: hidden;
}

.mainImage {
  width: 468px;
  height: 370px;
  display: block;
  object-fit: cover;
}

.caseButton {
  position: absolute;
  top: 18%;
  left: 10%;
  background-color: #3d0000;
  color: white;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  white-space: nowrap;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 13px;
}

.buttonIcon {
  width: 7px;
  height: 13px;
  display: block;
  transform: translateY(2px);
}

@media (max-width: 768px) {
  .container {
    max-width: 976px;
  }

  .CtaStudiesWarpper {
    max-width: 712px;
  }

  .card {
    border-radius: 30px;
    padding: 15px;
  }

  .mainImage {
    width: 100%;
    height: auto;
  }

  .caseButton {
    padding: 8px 14px;
    font-size: 11px;
    border-radius: 8px;
    top: 15%;
    left: 8%;
    gap: 8px;
  }

  .buttonIcon {
    width: 6px;
    height: 10px;
    transform: translateY(1px);
  }
}